# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.local

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.python

# Git
.git/
.gitignore

#IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

#Docs
README.md

